<% provide(:title, "About") %>
  <div class="jumbotron">
    <center><h1>About Us</h1></center>
    <p>Tweeted is a service for friends, family, and coworkers to communicate and stay connected through the exchange of quick, frequent messages. People post Tweets, which may contain photos, videos, links, and text. These messages are posted to your profile, sent to your followers, and are searchable on Tweeted search.</p>

    <div class="row center">
      <div class="col-lg-4">
        <%= fa_stacked_icon "twitter", base: "square-o", class: "font-icon center" %>

      </div>
      <div class="col-lg-4">

         <%= fa_stacked_icon "camera-retro", class: "font-icon center" %>
      </div>
      <div class="col-lg-4">

         <%= fa_stacked_icon "users", base: "square-o", class: "font-icon center" %>
      </div>
    </div> 
  </div>