<% provide(:title, "Explore") %>
  <!-- EXPLORE HEAD -->
      <div class="row">
        <div class="col-md-12 center">
          <h1 >Explore</h1>
          <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente doloribus ut iure itaque quibusdam rem accusantium
            deserunt reprehenderit sunt minus.</p>
          <%= link_to "Find Out More", about_path, class: "btn btn-warning" %>  
        </div>
      </div>
      <br>
      <center><%= image_tag "explore.jpeg", class: " img-responsive" %></center>
