<% provide(:title, "Explore") %>
  <!-- EXPLORE HEAD -->
      <div class="row">
        <div class="col-md-12 center">
          <h1 >Explore</h1>
          <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente doloribus ut iure itaque quibusdam rem accusantium
            deserunt reprehenderit sunt minus.</p>
          <%= link_to "Find Out More", about_path, class: "btn btn-warning" %>  
        </div>
      </div>

 <hr>
      <div class="row">
        <div class="col-md-6">
          <%= image_tag "explore.jpeg", class: "img-responsive img-circle" %>
        </div>
        <div class="col-md-6">
          <h3>Explore & Connect</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore reiciendis, voluptate at alias laborum odit aliquid
            tempore perspiciatis repudiandae hic?</p>
          <div>
            <div>
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
            </div>
          </div>
          <div >
            <div >
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
            </div>
          </div>
          <div >
            <div >
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
            </div>
          </div>
        </div>
      </div>
