<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users %>
<ul class="users">
  <!--Running render @users automatically calls the _user.html.erb partial on each user in the collection-->
    <%= render @users %>
</ul>
<%= will_paginate @users %>

