<% provide(:title, 'Sign up') %>
<!-- TO change the button_text for the edit and new pg since using a partial -->
<% provide(:button_text, 'Create my account') %>

<h1>Sign up</h1>
<hr>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= render "form" %>
  </div>
</div>