<footer class="footer">
  <small>
    Tweeted &#169; by Peter Tran, all rights included

  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://peter-tran-portfolio.herokuapp.com/">Portfolio</a></li>
    </ul>
  </nav>
</footer>